*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body{
  width: 100vw;
  height: 100vh;
  color: white;
  background: #393753;
}

header{
  width: 100%;
  padding: 10px;
  background-color: #262533;
}

.logo{
  width: 800px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  color: grey;
  font-weight: 600;
}

.logo:hover{
  cursor: pointer;
}

.logo div:active{
  color: white;
}

header img {
  width: 50px;
  height: 50px;
}

.container{
  width: 1000px;
  display: flex;
  margin:50px auto;
  padding: 50px;
  flex-wrap: wrap;
  justify-content: center;
}

.box{
  flex-basis: calc((100% / 4) - 40px);
  margin: 10px;
  text-align: center;
  padding: 15px;
  background-color: #262533;
  transition: transform .1s;
}

.box:hover{
  cursor: pointer;
  transform: scale(1.02);
}

.box:active{
  transform: scale(1);
}

.box img {
  width: 90%;
  height: 145px;
  margin-bottom: 10px;
}

h1{
  font-size: 17px;
  margin-bottom: 10px;
}

p{
  font-size: 13px;
  color: grey;
}
